<div class="container-fluid">
  <div class="row">
    <div class="main">
      <!-- Actual search box -->
      <!-- <div class="form-group has-search">
        <span class="fa fa-search form-control-feedback"></span>
        <input
          type="text"
          [(ngModel)]="query"
          (ngModelChange)="searchMovies(query)"
          class="form-control"
          placeholder="Search movies"
        />
      </div> -->
    </div>
  </div>
  <div class="row">
    <div
      *ngFor="let movie of moviesList"
      class="col-sm-6 col-md-3 col-lg-3 col-xl-2 my-3"
    >
      <a routerLink="/movie/{{ movie.id }}">
        <div class="card card-block">
          <img
            *ngIf="movie.backdrop_path != null"
            src="https://image.tmdb.org/t/p/w500/{{ movie.backdrop_path }}"
            alt=""
            class="card-image-poster"
          />
          <img
            *ngIf="movie.backdrop_path == null"
            src="https://mcvt-comet-37.fra1.cdn.digitaloceanspaces.com//previews/40042/preview_40042.jpg"
            alt=""
            class="card-image-poster"
          />
          <div class="card-footer">
            <p>{{ movie.original_title }}</p>
          </div>
        </div>
      </a>
    </div>

    <ngb-pagination
      class="d-flex justify-content-center mt-3"
      [collectionSize]="totalPages"
      [(page)]="page"
      [maxSize]="5"
      [rotate]="true"
      [boundaryLinks]="false"
      (pageChange)="searchMoviesByPagination(page, searchValue)"
    ></ngb-pagination>
  </div>
</div>
