<div class="container-fluid pt-5" id="main-container-top">
  <div
    class="container"
    id="container-top-content"
    style="
      background-image: url('https://image.tmdb.org/t/p/original/jb6Ju38HmKX0bYHCmAxs8HyNeJ2.jpg');
      background-size: cover;
    "
  >
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-sm-12 col-md-4 col-lg-3">
        <img
          src="https://image.tmdb.org/t/p/w500/inNN466SKHNjbGmpfhfsaPQNleS.jpg"
          alt=""
          class="card-image-poster w-100 p-3"
        />
      </div>
      <div class="col-sm-12 col-md-8" id="card-information">
        <h1 class="mb-2 mt-2">Godzilla</h1>
        <div id="genere-time">
          <p>Action, Adventure, Drama |</p>
          <p class="ps-2">
            2h 12m |
            <span><i class="fas fa-star text-warning"></i> 7.0</span>
          </p>
        </div>
        <div class="row">
          <p>Long live the king.</p>
          <p>Overview</p>
          <p>
            Follows the heroic efforts of the crypto-zoological agency Monarch
            as its members face off against a battery of god-sized monsters,
            including the mighty Godzilla, who collides with Mothra, Rodan, and
            his ultimate nemesis, the three-headed King Ghidorah. When these
            ancient super-species, thought to be mere myths, rise again, they
            all vie for supremacy, leaving humanity's very existence hanging in
            the balance.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-9 mt-3">
        <p>Companies</p>
        <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4 my-2">
            <div class="card bg-transparent card-block">
              <img
                src="https://image.tmdb.org/t/p/w500/lOSdUkGQmbAl5JQ3QoHqBZUbZhC.jpg"
                alt=""
                class="card-image-poster"
              />
              <div class="card-footer">
                <p>Warner Bros</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4 my-2">
            <div class="card bg-transparent card-block">
              <img
                src="https://image.tmdb.org/t/p/w500/lOSdUkGQmbAl5JQ3QoHqBZUbZhC.jpg"
                alt=""
                class="card-image-poster"
              />
              <div class="card-footer">
                <p>Footer</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-3 mt-3">
        <div class="status">
          <p class="fw-bold mb-0">Status</p>
          <p>Released</p>
        </div>
        <div class="original-language">
          <p class="fw-bold mb-0">Original Language</p>
          <p>English</p>
        </div>
        <div class="budget">
          <p class="fw-bold mb-0">Budget</p>
          <p>170,000,000</p>
        </div>
        <div class="budget">
          <p class="fw-bold mb-0">Revenue</p>
          <p>170,000,000</p>
        </div>
      </div>
    </div>
  </div>
</div>
