<div class="container-fluid pt-5">
  <h2 class="mt-5">Popular Movies</h2>
  <div class="scrolling-wrapper row flex-row flex-nowrap mt-4 pb-4 pt-2">
    <div
      *ngFor="let movie of popularMovies"
      class="col-sm-6 col-md-3 col-lg-3 col-xl-2"
    >
      <a routerLink="movie/{{ movie.id }}">
        <div class="card card-block">
          <img
            src="https://image.tmdb.org/t/p/w500/{{ movie.backdrop_path }}"
            alt=""
            class="card-image-poster"
          />
          <div class="card-footer">
            <p>{{ movie.original_title }}</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
<div class="container-fluid">
  <h2 class="mt-5">Top Rated Movies</h2>
  <div class="scrolling-wrapper row flex-row flex-nowrap mt-4 pb-4 pt-2">
    <div
      *ngFor="let movie of topRatedMovies"
      class="col-sm-6 col-md-3 col-lg-3 col-xl-2"
    >
      <a routerLink="movie/{{ movie.id }}">
        <div class="card card-block">
          <img
            src="https://image.tmdb.org/t/p/w500/{{ movie.backdrop_path }}"
            alt=""
            class="card-image-poster"
          />
          <div class="card-footer">
            <p>{{ movie.original_title }}</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
<div class="container-fluid">
  <h2 class="mt-5">Upcoming Movies</h2>
  <div class="scrolling-wrapper row flex-row flex-nowrap mt-4 pb-4 pt-2">
    <div
      *ngFor="let movie of upcomingMovies"
      class="col-sm-6 col-md-3 col-lg-3 col-xl-2"
    >
      <a routerLink="movie/{{ movie.id }}">
        <div class="card card-block">
          <img
            src="https://image.tmdb.org/t/p/w500/{{ movie.backdrop_path }}"
            alt=""
            class="card-image-poster"
          />
          <div class="card-footer">
            <p>{{ movie.original_title }}</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
